@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Azeret Mono;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.header-btn{
  padding: 10px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.8;
  border-radius: 8px;
  cursor: pointer;
}

.banner-section{
  background-image: url(/assets/Hero-bg.png);
  max-width: 1440px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.banner-section-heading{
  text-align: center;
  width: 998px;
  font-size: 40px;
  font-weight: 800;
}

.banner-section-image{
  width: 240px;
  height: 240px;
}

.banner-section-text{
  text-align: center;
  width: 730px;
  color: rgb(13, 19, 33);
  opacity: 0.7;

}

#banner-btn{
  padding: 10px 24px 10px 24px;
  border-radius: 8px;
  background-color: rgb(13, 19, 33);
  color: white;
  cursor: pointer;
}

.why-web-dev{  
  height: 1393px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.why-web-dev-wrap{
  padding: 50px 70px;
  width: 80%;
  height: 80%;
  text-align: center;  
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.why-web-dev-wrap h2{
  color: rgb(13, 19, 33);
  font-weight: 800;
  margin-bottom: 15px;

}

.why-web-dev-wrap p{
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

.why-web-dev-sec-1{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.why-web-dev-sec-1 h3{
  line-height: 30px;
  color: rgba(13, 19, 33, 0.7);
  font-weight: 700;
}

.why-web-dev-sec-1 button{
  width: 25%;
  padding: 5px;  
}

.why-web-dev-sec-1 .left{
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why-web-dev-sec-1 .right{
  width: 50%;
  text-align: right;
}

.why-web-dev-sec-2{
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.why-web-dev-sec-2 .left{
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why-web-dev-sec-2 .right{
  width: 50%;
  text-align: left;
}

.why-web-dev-sec-2 h3{
  line-height: 30px;
  color: rgba(13, 19, 33, 0.7);
  font-weight: 700;
}

.why-web-dev-sec-2 button{
  width: 25%;
  padding: 5px;  
}

.my-inspiration-section{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 60px; 
}

.my-inspiration-div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.my-inspiration-div p{
  width: 90%;
  color: rgb(13, 19, 33);
  opacity: 0.7;
}

.my-inspiration-div iframe{
  border-radius: 16px;
}

.my-current-target-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-bottom: 60px; 
}

.my-current-target-div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.my-current-target-div p{
  color: rgb(13, 19, 33);
  opacity: 0.7;
  margin-bottom: 50px;

}

.my-current-target-div-2{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-current-target-item-1{
width: 30%;
display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
background-color: #FFF6F4;
padding: 30px;
border-radius: 10px;
}

.my-current-target-item-1 p{
  text-align: left;
}

.my-current-target-item-2{
  width: 30%;
  display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
background-color: #F2F6FE;
padding: 30px;
border-radius: 10px;
}

.my-current-target-item-2 p{
  text-align: left;
}

.my-current-target-item-3{
  width: 30%;
  display: flex;
flex-direction: column;
gap: 20px;
align-items: flex-start;
background-color: #FFFDF2;
padding: 30px;
border-radius: 10px;
}

.my-current-target-item-3 p{
  text-align: left;
}